* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 20px;
    li {
        span {
            padding: 10px;
        }
        canvas {
            border: 1px solid red;
        }
        padding: 10px;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: solid black 1px;
    }
}

